<ion-header>
  <ion-toolbar>
    <ion-title>Blynk</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Create Account</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-content>