<ion-header [translucent]="true">
  <ion-item>
    <ion-button (click)="logOut()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Mobile Iot</ion-title>
  </ion-item>
</ion-header>

<ion-content padding center text-center>
  <ion-list>
    <ion-item>
      <ion-button color="dark" size="large" href="/newproject">
        <ion-icon name="add-outline"></ion-icon>New Project
      </ion-button>
    </ion-item>
    <!--
    <ion-item>
      <ion-button color="success" size="large">Create App</ion-button>
    </ion-item>-->
  </ion-list>
</ion-content>